<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>fabflixApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MovieListServlet</servlet-name>
    <servlet-class>MovieList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieListServlet</servlet-name>
    <url-pattern>/MovieList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SingleMovieServlet</servlet-name>
    <jsp-file>/singlemovie.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>like-predicate</servlet-name>
    <jsp-file>/like-predicate.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>like-predicate</servlet-name>
    <url-pattern>/like-predicate.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dashboard</servlet-name>
    <jsp-file>/dashboard.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>dashboard</servlet-name>
    <url-pattern>/_dashboard.html</url-pattern>
  </servlet-mapping>
</web-app>